# ╭──────────────────────────────────────────────────────────╮
# │                          custom                          │
# ╰──────────────────────────────────────────────────────────╯
logs/
data/
temp*

# ╭──────────────────────────────────────────────────────────╮
# │                         template                         │
# ╰──────────────────────────────────────────────────────────╯

# ─────────────────────────────── my stuff ───────────────────────────────
.mynvim/

# ──────────────────────────────── python ────────────────────────────────
__pycache__/
